.card{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 85%;
  }

  .container{
    display: flex;
    justify-content: center;
    align-content:  center;
  }

  .form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    background: #ffffff;
  }

  .title{
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    align-items: center
  }

  .form-field{
    padding-top: 15px;
    width: 100%;
    margin: auto;
  }

  .search{
      float: right;
  }

  