<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar  color="primary" class="toolbar">
      <!-- <span class="title">Iniciar Sesion</span> -->
    </mat-toolbar>
    <mat-card class="loging">
      <mat-card-header>
        <h1 class="title"><strong>Iniciar Sesión</strong></h1>
      </mat-card-header>
      <mat-card-content class="example-container">
        <mat-divider></mat-divider>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese su Usuario" [(ngModel)]="user.username" #username='ngModel' required name="username">
            <mat-error *ngIf="username.errors?.required">
              Campo <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="******" [(ngModel)]="user.password" #password="ngModel" name="password" required>
            <mat-error *ngIf="password.errors?.required">
              Campo <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="login()" class="access">Acceder</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>