.title{
    margin: 0 auto;
    font-size: 30px;
}

.sidenav-container {
    height: 100%;
}
  
.sidenav {
      width: 200px;
 }
    
.toolbar {
    color: white;
    margin-bottom: 50px;
}

.loging{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    height: 40%;
    background: rgb(240, 240, 240);
  }
 
  .example-container{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
  }
 
  .form-field{
    padding-top: 15px;
    width: 90%;
    margin: auto;
  }

  .access{
      background: green;
      color: white;
      width: 50%;
  }