.example-container{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.form-field{
  padding-top: 15px;
  width: 90%;
  margin: auto;
}

.add{
  background: green;
  color: white; 
  margin-left: 15px;  
}

.buttons {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  justify-content: center;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  background: #ffffff;
}

.link{
  text-decoration: none;
  color: white;
}

.back{
  margin-left: 180px;
}

.add-button{
  margin-left: 125vh;
}
  
.title{
  margin: 0 auto;
  font-size: 30px;
}

.save{
  color: white;
  background-color: green;
}

.table{

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  background: #ffffff;
}

.mat-table{
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  background: #ffffff;
}

.titleTable{
  text-align: center;
}